<%= content_for :extra_footer do %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <link href="/assets/zcustom.css" media="screen" rel="stylesheet">
<% end %>

<nav>
  <ul>
    <li>
      <%= link_to "Back", games_path%>
    </li>
  </ul>
</nav>

<h1>Highscores</h1>

<body bgcolor="#DA4545">

<div class="med_scores" style="font-family:verdana;text-align:left;color:inherit;position:relative;margin: auto;width: 900px;">

  <%= grid(@med_tasks_grid, html: {style: ' text-align: center'}) do |g|

    g.column name:  'Medium'  do |task|
      if task.scores != 0
        task.scores
      end
    end

    g.column  name:  'Username' do |task|
      if task.scores != 0
        if task.user
          task.user.username
        else
          "Anonymous"
        end
      end
    end

  end -%>
</div>

<div class="hard_scores" style="font-family:verdana;text-align:left;color:inherit;position:relative;margin: auto;width: 900px;">

  <%= grid(@hard_tasks_grid, html: {style: ' text-align: center'}) do |g|

    g.column name:  'Hard'  do |task|
      if task.scores != 0
        task.scores
      end
    end

    g.column  name:  'Username' do |task|
      if task.scores != 0
        if task.user
          task.user.username
        else
          "Anonymous"
        end
      end
    end

  end -%>

</div>

<div class="easy_scores" style="font-family:verdana;text-align:left;color:inherit;position:relative;margin: auto;width: 900px;">

  <%= grid(@easy_tasks_grid, html: {style: ' text-align: center'}) do |g|

    g.column name:  'Easy'  do |task|
      if task.scores != 0
        task.scores
      end
    end

    g.column  name:  'Username' do |task|
      if task.scores != 0
        if task.user
          task.user.username
        else
          "Anonymous"
        end
      end
    end

  end -%>

</div>


