<nav>
  <ul>
    <li>
      <%= link_to "Back", games_path%>
    </li>
  </ul>
</nav>


<h1>Highscores</h1>

<body bgcolor="#DA4545">

<%@highscores.each do |score|%>

  <%if score.game.easy == true%>
    <div style="text-align:left;color:white;font-family:Verdana">
      <%="Easy: "%>
      <%=score.scores%>
      <%if score.user == nil%>
        <%=" - Anonymous"%>
      <%else%>
        <%=" - " + score.user.username%>
      <%end%>
    </div>

  <%elsif score.game.hard == true%>
    <div style="text-align:right;color:white;font-family:Verdana">
      <%="Hard: "%>
      <%=score.scores%>
      <%if score.user == nil%>
        <%=" - Anonymous"%>
      <%else%>
        <%=" - " + score.user.username%>
      <%end%>
    </div>

  <%else%>
    <div style="text-align:center;color:white;font-family:Verdana">
      <%="Medium: "%>
      <%=score.scores%>
      <%if score.user == nil%>
        <%=" - Anonymous"%>
      <%else%>
        <%=" - " + score.user.username%>
      <%end%>
    </div>
  <%end%>

<%end%>



