<%= content_for :extra_footer do %>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/zcustom.css" media="screen" rel="stylesheet">
<% end %>


<nav>
  <ul>
    <li>
      <%= link_to "Back", games_path%>
    </li>
  </ul>
</nav>


<h1>Chatroom</h1>

<body bgcolor="#DA4545">

<div class="chatroom" style="font-family:verdana;text-align:left;color:inherit;position:relative;margin: auto;width: 950px;">

  <%= grid(@chat_grid, html: { style: ' text-align: left'}) do |g|

    g.column name:  'Message'  do |task|
      if task.user
        task.user.username + ": " + task.message
      else
        "Anonymous: " + task.message
      end
    end

    g.column name: "Created at" do |task|
      task.created_at
    end

  end -%>
</div>

<div class ="message-box" style= "font-family:verdana;position:relative;margin: auto;width: 660px;">

  <%= form_for @chat, method: :post do |f| %>

    <div class="message-chat">
      <%= f.label :message %>
      <%= f.text_area :message, size: "100x2" %>
      <%= f.submit  "Submit", id: 'create-message'%>
    </div>
  <%end%>
</div>

