<%= content_for :extra_footer do %>
  <%= stylesheet_link_tag 'bootstrap.min' %>
  <link href="/assets/zcustom.css" media="screen" rel="stylesheet">
<% end %>

<%if @user%>
  <nav>
    <ul>
      <li>
        <%= link_to "Back", games_path%>
      </li>
    </ul>
  </nav>
<%else%>
  <nav>
    <ul>
      <li>
        <%= link_to "Back", games_path%>
      </li>
    </ul>
  </nav>
<%end%>


<body bgcolor="#DA4545">
  <div class="scroller" style ="position:relative;margin: auto;width: 530px;">
    <div>
      <h1><%= link_to "Easy", easy_games_path, :method => :post, style:'color:#FFFFFF;text-decoration:none;'%><h1>
    </div>
    <div>
      <h1><%= link_to "Medium", games_path, :method => :post, style:'color:#FFFFFF;text-decoration:none;' %><h1>
    </div>
    <div>
    <h1><%= link_to "Hard", hard_games_path, :method => :post, style:'color:#FFFFFF;text-decoration:none;' %><h1>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <p style="color:inherit;font-size:30px;text-align:center;font-family:Verdana"> WARNING: a few people may experience seizures when viewing flashing lights.<p  style="color:white;font-size:30px;text-align:center;font-family:Verdana">
  Directions: Follow the order. <p>
  <%if @user%>
    <h4 style="font-family:Verdana;color:#FFFFFF;text-align:center">You ready <%=@user.username%>?</h4>
  <%else%>
    <h4 style="font-family:Verdana;color:#FFFFFF;text-align:center">You must be signed in if you want a highscore</h4>
  <%end%>
  <br>
  <br>
  <div class="youtube" style ="position:relative;margin: auto;width: 530px;">
    <iframe width="560" height="315" src="//www.youtube.com/embed/Y__Q1VJE5OE" frameborder="0" allowfullscreen></iframe>
  </div>
</body>

