<%= content_for :extra_footer do %>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/zcustom.css" media="screen" rel="stylesheet">
<% end %>

<nav>
  <ul>
    <li>
      <%= link_to "Back", games_path%>
    </li>
  </ul>
</nav>

<h1>Credits</h1>

<body bgcolor="#DA4545">

<h2><%="Created by Peter Ko"%></h2>
<h2><%="Red Game Studios"%></h2>
<h2><%="Email: RedGameStudios@gmail.com"%></h2>
<h2><%="Made with Ruby on Rails"%></h2>



